/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Main
 */

.main {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    padding-bottom: 10px;
    overflow-x: hidden;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card {
}
.card-body {
}

.padding {
    padding: 0.5em;
}

.margin-right {
    margin-right: 0.5em;
}

.margin-bottom {
    margin-bottom: 0.5em;
}

.margin-left {
    margin-left: 0.5em;
}


.slider-horizontal {
    flex: 1;
}

/*
 * Card sections
 */
.card-sections button {
    width: 130px;
    cursor: pointer;
}


.jstree-themeicon-custom {
    background-size: 22px !important;
}

/*
 * 3D tool buttons
 */
span.toolbutton_3d {
    cursor: pointer;
    color: #333333;
    margin-left: 5px;
    margin-right: 5px;
}
span.toolbutton_3d svg {
    fill: currentColor;
}

/*
 * Social media icons
 */
ul.share-buttons{
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
